.App{
  background-color: #253f4b;
  color: #dcd9cd;
}

.logo{
  height: 80px;
  width: 80px;
  margin: 15px;
}

.banner{
  text-align: center;
}

.myInfo{
  height: 50px;
  width: 100px;
}

.logo_myinfo{
  display: flex;
  flex-direction: row;
}
